<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 Not Fount</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <img src="/img/404.png" alt="">
        <main class="index">
            <h1>Tranquilo mi camarada esta URL no existe mi buen carnal</h1>
            <a href="/"><button>Volver por donde vine</button></a>
        </main>
        
    </body>
</html>